{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{#{% block follows %}
    <ul class="follows">
        {% for follow in datas.list_follows %}
            <li>
                <a href="{{ path('user-profil', {'slug_username': follow.slug}) }}">
                    <img class="profil-img" src="{{ vich_uploader_asset(follow, 'imageFile') }}" alt="#">
                    {{ follow.username }}
                </a>
                {% if datas.actions %}
                    <ul class="action">

                    </ul>
                {% endif %}
                <!-- iframe integration -->
            </li>
        {% endfor %}
    </ul>
{% endblock %}#}


{% block follows %}
<div class="panel panel-default">
    <h3 class=" text-center btn-primary">Follows</h3>
        {% if datas.list_follows is empty  %}
            <h4 class="text-center btn-warning"> No follows yet !</h4>
        {% endif %}
        {% for follow in datas.list_follows %}
    <div class="panel-heading" style="border-bottom:2px solid #df691a;">
                <a href="{{ path('user-profil', {'slug_username': follow.slug}) }}">
                    <img class="profil-img" style ="width: 50px; height: auto; margin-right: 15px;"src="{{ vich_uploader_asset(follow, 'imageFile') }}" alt="#">
                    {{ follow.username }}
                </a>
                {% if datas.actions %}
                    <ul class="action">

                    </ul>
                {% endif %}
                <!-- iframe integration -->
    </div>
        {% endfor %}
</div>
{% endblock %}


