<html>
<head>
    <!-- NOTICE LUBERLU - A TERME LES DONNEES DOIVENT ETRE ENVOYES DANS UN ARRAY DATAS GLOBAL -->
    <!-- CE IF DATAS N'AURA PLUS D'INTERET UNE FOIS TOUT MIS AU CLAIR -->
    <title>Daysounds</title>
    <link rel="stylesheet" href="{{ asset('bundles/project/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/project/bootstrap/css/main.css') }}" />

</head>

<body>
    {% include "@ProjectBundle/Resources/views/Default/header.html.twig" %}
    {% block main %}{% endblock %}
    {% include "@ProjectBundle/Resources/views/Default/footer.html.twig" %}

    <!-- Player -->
    {% include "@ProjectBundle/Resources/views/Default/player.html.twig" %}
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/jquery3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/main.js') }}"></script>
</body>

</html>