<html>
<head>
    <!-- NOTICE LUBERLU - A TERME LES DONNEES DOIVENT ETRE ENVOYES DANS UN ARRAY DATAS GLOBAL -->
    <!-- CE IF DATAS N'AURA PLUS D'INTERET UNE FOIS TOUT MIS AU CLAIR -->
    <title>Daysounds</title>
    <link rel="stylesheet" href="{{ asset('bundles/project/bootstrap/css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/project/bootstrap/css/main.css') }}" />

</head>
<!-- <style>
    html body{
        background-color:#F3F3F3 ;
        color: black;
    }
    html .home [class*="col-"], html .profil [class*="col-"]{
        border:none;
    }
    
    html h1, html .h1, html h2, html .h2,html  h3, html .h3{
        color: #171717;
    }
    html ul{
        padding-left: 0;
    }
    html .home ul li{
        margin-bottom: 15px;
    }
    html .home ul li a, .music-card{
        display: flex;
        flex-direction:row;
        justify-content: flex-start;
        align-items: center;
        height:55px;
        -moz-box-shadow: 1px 1px 8px 2px #cfcfcf;
        -webkit-box-shadow: 1px 1px 8px 2px #cfcfcf;
        -o-box-shadow: 1px 1px 8px 2px #cfcfcf;
        box-shadow: 1px 1px 8px 2px #cfcfcf;
        filter:progid:DXImageTransform.Microsoft.Shadow(color=#cfcfcf, Direction=134, Strength=8);
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        background-color: #EBEBEB;
    }
    html .home ul li a span, html ul li a span{
        max-width: 90px;
        overflow: hidden;
        box-sizing: border-box;
        padding-left: 4px;
    }
    html .home ul li a img{
        margin-right: 10px;
    }

    .music-card{
        box-sizing: border-box;
        padding: 0 10px;
        width:100%;min-height: 150px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .music-card .vignette{
        height:100%;
    }
    .home .add a{
        background-color: transparent;
        box-sizing: border-box;
        color: green;
        border: 1px solid green;
        padding: 3px 8px;
        border-radius: 3px;
    }
    .home .delete a{
        background-color: transparent;
        box-sizing: border-box;
        color: red;
        border: 1px solid red;
        padding: 3px 8px;
        margin-bottom: 5px;
        border-radius: 3px;
    }
    .home .add a:hover{
        background-color: green;

        color: white;

    }
    .home .delete a:hover{
        background-color: red;

        color: white;

    }

</style> -->

<body>
    {% include "@ProjectBundle/Resources/views/Default/header.html.twig" %}
    {% include "@ProjectBundle/Resources/views/Default/session.html.twig" %}
    {% block main %}{% endblock %}
    {% include "@ProjectBundle/Resources/views/Default/footer.html.twig" %}

    <!-- Player -->
    {% include "@ProjectBundle/Resources/views/Default/player.html.twig" %}
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/jquery3.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ asset('bundles/project/bootstrap/js/main.js') }}"></script>
</body>

</html>