{% extends "@ProjectBundle/Resources/views/Default/profil.html.twig" %}

{% block playlist %}
    <div class="sounds-in-playlist panel panel-default middle">
        <h3 class=" text-center btn-primary title-page-profil">{{ datas.playlist.name }}</h3>

        {% if datas.actions %}
            <div class="list-group  text-center add-sound-this-playlist">
                <a class="btn btn-success btn-lg"
                   href="{{ path('add_sound_to_playlist', {'slug_username':datas.slugUserName, 'playlist_slug': datas.playlist.slug }) }}">
                    Add sound to this playlist <span class="glyphicon"></span>
                </a>
            </div>

        {% endif %}

        {% for sound in datas.sounds %}
            <div style="margin-bottom: 29px;background-color: #546575;">
                <h4 class="text-center">{{ sound.artiste }} - {{ sound.name }}</h4>
                <!-- iframe integration -->
                {% include "@ProjectBundle/Resources/views/Playlists/sound-iframe.html.twig" %}
                    <div class="dropdown panel-heading actions-to-sound clearfix">

                        <a href="{{ path("delete_sound_from_playlist", {
                            "id_playlist": datas.playlist.id, "id_sound": sound.id
                        }) }}"

                           class="btn btn-lg btn-warning">Add to trash</a>

                        <a href="#" class="dropdown-toggle btn btn-lg btn-success"
                           data-toggle="dropdown" role="button" aria-expanded="false">Add sound to playlist <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for list in datas.listPlaylists %}
                                <li>
                                    <a class="btn btn-lg btn-danger" href="{{ path('add_sound_to_this_playlist',
                                    {'playlist_id': list.id, 'sound_id':sound.id}) }}">{{ list.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}