{% extends "@ProjectBundle/Resources/views/Default/layout.html.twig" %}


{% block main %}
    <style>
        main{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }
    </style>
    <main>
    <aside>
        <nav>
            <ul class="all-playlists">
                <li><a href="{{ path('add_playlist',{'slug_username':datas.slugUserName}) }}">create playlist</a></li>
                {% for playlist in datas.listePlaylist %}
                    {% if playlist.isDefault %}
                        <li>
                            <a  href="{{ path('playlist_sounds', {'id': playlist.id }) }}">{{ playlist.id }} {{ playlist.name }}</a>
                        </li>
                        {% elseif playlist.isDayli %}

                        {% else %}
                            <li>
                                <a  href="{{ path('playlist_sounds', {'id': playlist.id }) }}">{{ playlist.id }} {{ playlist.name }}</a>
                                <ul class="action">
                                    <li><a href="{{ path('delete_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">Delete</a></li>
                                    <li><a href="{{ path('edit_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">edit</a></li>
                                    <li><a href="{{ path('add_sound_to_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">add sound</a></li>
                                </ul>
                            </li>
                    {% endif %}

                {% endfor %}
            </ul>
        </nav>
    </aside>
    <section>{% block playlist%}{% endblock %}</section>
    <aside>{% block filter %}{% endblock %}</aside>
    </main>
{% endblock %}