{% extends "@ProjectBundle/Resources/views/Default/layout.html.twig" %}


{% block main %}
    <style>
        .nopadding {
            padding: 0 !important;
            margin: 0 !important;
        }
        .nohover{
            color:inherit;
        }
        .w100{
            width:100%;
        }
    </style>
    <main>
        <section>{% block content%}{% endblock %}</section>
        <aside>{% block filter %}{% endblock %}</aside>
    </main>

    <div class="container profil">

     {#   {% if datas.actions %}


        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="/">Edit the profil</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">
                <a href="/">Add music</a>
            </div>
        </div>

        {%  endif %}#}
        <div class="row">
      {#      <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3">Profil
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                        <img class="profil-img" src="{{ vich_uploader_asset(datas.user, 'imageFile') }}" alt="#">
                        <span>{{ datas.user.username }}</span>

                        {% if app.user != datas.user %}
                            {% if datas.tofollow == 0 %}
                                 <span>Followed by you</span>
                            {% elseif datas.tofollow == 1 %}
                                 <a href="{{ path('add_follow',{'slug_username':datas.user.slug}) }}">Follow it >></a>
                            {% endif %}
                        {% endif %}

                    </div>
                </div>
                <div class="row">
                    <ul class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                        <li><a href="{{ path('list_followers',{'slug_username':datas.user.slug}) }}">Followers</a></li>
                        <li><a href="{{ path('list_follows',{'slug_username':datas.user.slug}) }}">Follows</a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="col-xs-10 col-sm-10 col-md-10 col-lg-10 ">
                        {% if datas.actions %}
                            <li>
                                <a href="{{ path('add_playlist',{'slug_username':datas.slugUserName}) }}">create playlist</a>
                            </li>
                        {% endif %}
                        {% for playlist in datas.listePlaylist %}
                            {% if playlist.isDefault %}
                                <li>
                                    <a  href="{{ path('playlist_sounds', {'slug_username': datas.user.slug, 'playlist_slug': playlist.slug }) }}">{{ playlist.name }}</a>
                                </li>
                            {% elseif playlist.isDayli %}

                            {% else %}
                                <li>
                                    <a  href="{{ path('playlist_sounds', {'slug_username': datas.user.slug, 'playlist_slug': playlist.slug }) }}">{{ playlist.name }}</a>
                                </li>
                                {% if datas.actions %}
                                    <ul class="action">
                                        <li><a href="{{ path('delete_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">Delete</a></li>
                                        <li><a href="{{ path('edit_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">edit</a></li>
                                        <li><a href="{{ path('add_sound_to_playlist', {'slug_username':datas.slugUserName, 'playlist_slug': playlist.slug }) }}">add sound</a></li>
                                    </ul>
                                {% endif %}
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </section>
#}
            <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btn-default nopadding profil-section-left">


                    <a href="{{ path("user-profil", {"slug_username": datas.user.slug}) }}" class="list-group nopadding  ">
                        <figure class="list-group">
                            <img class="img-responsive" src="{{ vich_uploader_asset(datas.user, 'imageFile') }}">
                        </figure>
                        <figcaption class="text-center  nohover"><h5 class="username-profil">{{ datas.user.username }}</h5></figcaption>
                    </a>


                {% if app.user != datas.user %}
                <div class="list-group-item text-center">

                        {% if datas.tofollow == 0 %}
                            <span class="already-follow">Followed by you</span>
                        {% elseif datas.tofollow == 1 %}
                            <div class="list-group  text-center">
                                <a href="{{ path('add_follow',{'slug_username':datas.user.slug}) }}" class="btn btn-success btn-lg">Follow</a>
                            </div>
                        {% endif %}

                </div>
                {% endif %}

                    <a class="list-group-item" href="{{ path('list_followers',{'slug_username':datas.user.slug}) }}">Followers <span class="glyphicon">&#xe258;</span></a>
                    <a class="list-group-item" href="{{ path('list_follows',{'slug_username':datas.user.slug}) }}">Follows <span class="glyphicon">&#xe258;</span></a>





            </section>


            <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 ">

                {% block form %}{% endblock %}
                {% block playlist %}{% endblock %}
                {% block follows %}{% endblock %}
            </section>
            <section class="col-xs-3 col-sm-3 col-md-3 col-lg-3 btn-default nopadding ">

                <div class="list-group nopadding ">

                    <a class="list-group-item active btn-warning text-center "><h4>Playlists</h4></a>

                </div>
                <div class="panel nopadding panel-default">

                    {% if datas.actions %}
                        <div class="list-group  text-center">
                            <a class="btn btn-success btn-lg"
                               href="{{ path('add_playlist',{'slug_username':datas.slugUserName}) }}">
                                create playlist <span class="glyphicon"></span>
                            </a>
                        </div>
                    {% endif %}

                    <a href="#" class="btn w100 btn-default dropdown-toggle" data-toggle="dropdown">
                        All
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu w100 list-playlists-dropdown" style="text-align: center">
                        {% for playlist in datas.listePlaylist %}
                            {% if playlist.isDayli == false %}
                                <li class="{% if playlist.isDefault %}default{% endif %}">
                                    <a style="display: inline-block" href="{{ path('playlist_sounds', {'slug_username': datas.user.slug, 'playlist_slug': playlist.slug }) }}">{{ playlist.name }}

                                    </a>
                                {% if datas.actions %}
                                    <button type="button" class="close" aria-label="Close"><a href="{{ path('delete_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}"><span aria-hidden="true">×</span>
                                        </a>

                                    </button>
                                {% endif %}

                                </li>

                            {% endif %}

                        {% endfor %}
                    </ul>

                </div>

            </section>
        </div>
    </div>



{% endblock %}