{% extends "@ProjectBundle/Resources/views/Default/layout.html.twig" %}


{% block main %}
    <style>
        main{
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
        }
    </style>
    <main>
    <section>{% block content%}{% endblock %}</section>
    <aside>{% block filter %}{% endblock %}</aside>
    </main>

    <div class="container profil">

        {% if datas.actions %}

        <div class="row">
            <div class="col-xs-2 col-sm-2 col-md-2 col-lg-2">
                <a href="/">Edit the profil</a>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-1">
                <a href="/">Add music</a>
            </div>
        </div>

        {%  endif %}

        <div class="row">
            <section class="col-xs-2 col-sm-2 col-md-2 col-lg-2">Profil
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">
                        <img class="profil-img" src="{{ vich_uploader_asset(datas.user, 'imageFile') }}" alt="#">
                    </div>
                </div>
                <div class="row">
                    <ul class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">
                        <li><a href="#">Followers</a></li>
                        <li><a href="#">Followed</a></li>
                    </ul>
                </div>
                <div class="row">
                    <ul class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">
                        {% if datas.actions %}
                            <li>
                                <a href="{{ path('add_playlist',{'slug_username':datas.slugUserName}) }}">create playlist</a>
                            </li>
                        {% endif %}
                        {% for playlist in datas.listePlaylist %}
                            {% if playlist.isDefault %}
                                <li>
                                    <a  href="{{ path('playlist_sounds', {'id': playlist.id }) }}">{{ playlist.id }} {{ playlist.name }}</a>
                                </li>
                            {% elseif playlist.isDayli %}

                            {% else %}
                                <li>
                                    <a  href="{{ path('playlist_sounds', {'id': playlist.id }) }}">{{ playlist.id }} {{ playlist.name }}</a>
                                    {% if datas.actions %}
                                        <ul class="action">
                                            <li><a href="{{ path('delete_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">Delete</a></li>
                                            <li><a href="{{ path('edit_playlist', {'id': playlist.id,'slug_username':datas.slugUserName }) }}">edit</a></li>
                                            <li><a href="{{ path('add_sound_to_playlist', {'slug_username':datas.slugUserName, 'playlist_slug': playlist.slug }) }}">add sound</a></li>
                                        </ul>
                                    {% endif %}
                                </li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>
            </section>
            <section class="col-xs-6 col-sm-6 col-md-6 col-lg-6 col-lg-offset-1 ">Music Space
                {% block form %}{% endblock %}
            </section>
            <section class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-lg-offset-1">Filters
                <div class="row">
                    <h2 class="">
                        Filters by :
                    </h2>
                </div>
                <div class="row">
                    <ul class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">
                        <li><a href="#">Artists</a></li>
                        <li><a href="#">Kind</a></li>
                        <li><a href="#">Owner</a></li>
                        <li><a href="#">Most recent</a></li>
                        <li><a href="#">Most listened</a></li>
                    </ul>
                </div>
                <div class="row">
                    <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-lg-offset-1">
                        <input class="profil-search" type="search" placeholder="Search ..." name="the_search">
                    </div>
                </div>
            </section>
        </div>
    </div>



{% endblock %}