<nav class="navbar navbar-inverse">
<div class="collapse navbar-collapse " >
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        <ul class="nav navbar-nav navbar-left">
                <li>
                        <a href="/">Daysound</a>
                </li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a class="navbar-brand"><img src="{{ vich_uploader_asset(app.user, 'imageFile') }}"  /></a>
            </li>
                <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">{{ app.user.username }} <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                                {% if datas is defined %}
                                        <li>
                                                <a href="{{ path('user-profil',{'slug_username':app.user.slug}) }}">Mon profil</a>
                                        </li>
                                {% endif %}
                                <li><a href="{{ path("fos_user_profile_show") }}">settings</a></li>
                                <li> <a href="{{ path('fos_user_security_logout') }}">
                                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                        </a>
                                </li>

                        </ul>
                </li>
        </ul>
    {% else %}

        <ul class="nav navbar-nav navbar-left">
                <li>
                        <a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a>
                </li>
                <li>
                        <a href="{{ path('fos_user_registration_register') }}">Sign Up</a>

                </li>
        </ul>

    {% endif %}
        <form class="navbar-form navbar-right" role="search">
                <div class="form-group">
                        <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
        </form>

</div>
</nav>